* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Change to column to stack the elements vertically */
}

#container {
    height: 400px;
    width: 300px;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 13px;
    position: relative;
    overflow: hidden;
    margin: 0; /* Add margin for spacing */
    border-bottom:2px solid black;
}

img {
    height: 400px;
    width: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    object-fit: cover;
}

#container i {
    color: red;
    font-size: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: transform ease 0.4s;
}

#foot {
    height: 50px;
    width: 300px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: palegoldenrod;
    display: flex;
    flex-direction: row; /* Change to row to make it a row layout */
    border: 2px solid black;
}
#foot i{
    font-size: 30px;
    padding: 10px;
    color: wheat;
}